/* fix ui.bootstrap issue with href */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

span.logo {
	margin-top: 5px;
    display: block;
    width: 109px;
    height: 105px;
    background-image: url("../img/logo.png");
}

.myGrid {
    width: 500px;
    height: 250px;
}